$primaryColor  : #0d0d0e;
$secondaryColor: #e7d63e;
$accent        : #ffffff;
$bg            : #f0efef;
$shadow        : #464646a5;
$pad           : 1rem;
$rad           : .5rem;
$sm            : 540px;
$md            : 794px;
$lg            : 940px;
$xlg           : 1200px;
$maxRad        : 50px;